@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

@font-face {
  font-family: 'font-apik';
  src: url('../public/BillionDreams_PERSONAL.ttf');
}

*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: linear-gradient(to right, #FBC01E,#FFC422);
  overflow-x: hidden;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}


